.collapseRow {
  $then: &;
  float: left;
  width: 100%;
  padding-bottom: 8px;

  &__arrow {
    $w: 12px;
    width: $w !important;
    height: $w !important;
  }

  &__title {
    display: flex;
    align-items: center;
    color: #999999;
    font-weight: 800;
    font-family: Gilroy;
    font-size: 19px;
    padding: 10px 15px;
    padding-left: 0;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;

    .Icon-component {
      font-size: 30px;
      color: #ffd754;
      padding-right: 5px;
    }
  }

  &__header {
    position: relative;
    cursor: pointer;
    min-height: 30px;
    line-height: 30px;
    font-weight: 700;
    float: left;
    width: 100%;
    margin: 0;
    font-family: Gilroy;
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      #{$then}__title {
        color: #000000;
      }
    }
  }

  &__content {
    padding-bottom: 0;
    color: #727272;
    display: none;
    float: left;
    width: 100%;
    border: 0 !important;
  }

  &--active {
    #{$then}__content{
      display: initial;
    }
  }
}
