.contact {
  padding-top: 70px;
  padding-bottom: 70px;

  &__message {
    textarea {
      display: block;
      width: 100%;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-clip: padding-box;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      background-color: #fbfbfb;
      border: 1px solid #e3e3e3;
      border-radius: 4px;
      height: auto;
      min-height: 150px;
      box-sizing: border-box;
    }
  }

  &__contactItem {
    > div {
      margin-bottom: 20px;
    }

    div.Typography-component {
      margin-top: 10px!important;
    }
  }
}
