.selectStudio {
  display: block;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  box-sizing: content-box;
  clear: both;
  float: left;
  background: #f5f7fa;
  padding-top: 90px;
  padding-bottom: 90px;
  width: 100%;

  &__title,
  &__subTitle {
    text-align: center;
  }

  &__title {
    margin-bottom: 10px !important;
    font-weight: bold;
  }

  &__subTitle {
    margin-bottom: 30px !important;
    color: #b4b4b4;
  }

  &__carousel {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    float: left;
    margin-bottom: 30px;
    width: 100%;
  }

  &__slick {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    display: flex;
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
}
